<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.pwcong.jpstart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".view.activity.SplashActivity"
            android:configChanges="locale"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="locale"
            android:label="@string/jp_start" />

        <activity
            android:name=".view.activity.SettingActivity"
            android:configChanges="locale"
            android:label="@string/setting" />

        <activity
            android:name=".view.activity.PuzzleActivity"
            android:configChanges="locale"
            android:label="@string/whoami" />

        <activity
            android:name=".view.activity.AboutActivity"
            android:configChanges="locale"
            android:label="@string/about" />

        <activity
            android:name=".view.activity.PhotoViewActivity"
            android:configChanges="locale"
            android:label="@string/photoview" />

    </application>

</manifest>