<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.pwcong.jpstart">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:configChanges="locale"
            android:theme="@style/Theme.Design.NoActionBar"
            android:name=".component.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"  />
            </intent-filter>
        </activity>

        <activity android:configChanges="locale" android:name=".component.activity.MainActivity" android:label="@string/jp_start"/>

        <activity android:configChanges="locale" android:name=".component.activity.PhotoViewActivity" android:theme="@style/AppTheme.Transparent"/>

        <activity android:configChanges="locale" android:name=".component.activity.SettingActivity" android:label="@string/setting"/>

        <activity android:configChanges="locale" android:name=".component.activity.AboutActivity" android:label="@string/about"/>

        <activity android:configChanges="locale" android:name=".component.activity.PuzzleActivity" android:label="@string/whoami"/>
        <activity android:configChanges="locale" android:name=".component.activity.SupperzzleActivity" android:label="@string/supperzzle"/>



    </application>
</manifest>
